.header__links {
  margin: 24px 0 0;
  padding: 0;
  display: grid;
  column-gap: 18px;
  grid-template-columns: repeat(2, auto);
  list-style: none;
}


@media screen and (max-width: 320px) {
  .header__links {
    margin-top: 16px;
  }
}