.lead{
    margin: 48px 0 64px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  
  
  @media screen and (min-width: 768px){
    .lead{
      margin-bottom: 88px;
    }
  }
  
  @media screen and (min-width: 1024px){
    .lead{
      margin-left: 48px;
      margin-right: 48px;
      margin-bottom: 92px;
    }
  }
  
  @media screen and (min-width: 1280px){
    .lead{
      margin: 56px calc(148 / 1280 * 100%) 92px;
    }
  }