.cover__subtitle {
    margin: 0;
    margin-top: 16px;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
    z-index: 1;
}


@media all and (min-width: 768px) {
    .cover__subtitle {
        margin-top: 32px;
        font-size: 18px;
        line-height: 22px;
    }
}