.lead__caption {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  margin-top: 6px;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: 1.5px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    padding-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}