.footer {
  padding: 0;
  margin: 64px 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: flex-end;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    margin-top: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    margin-left: calc(48 / 1280 * 100%);
    margin-right: calc(48 / 1280 * 100%);
  }
}