.footer{
    padding: 0;
    margin: 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: flex-end;
  }
  
  @media screen and (min-width: 768px){
    .footer{
      flex-direction: row;
    }
  }
  
  @media screen  and (min-width: 1024px){
    .footer{
      margin-left: 48px;
      margin-right: 48px;
    }
  }
  
  @media screen and (min-width: 1280px){
    .footer{
      margin-left:  calc(48 / 1280 * 100%);
      margin-right:  calc(48 / 1280 * 100%);
    }
  }